---
- name: Install Packages | apt
  apt:
    state: latest
    pkg: "{{ item }}"
  with_items:
    - "{{ 'php5-fpm' if php_fpm else 'php5-cli' }}"
  tags:
    - software-installation
    - using-apt

- name: Install Packages | apt
  apt:
    state: latest
    pkg: "{{ item }}"
  with_items: php_modules
  tags:
    - software-installation
    - using-apt

- name: Composer | Download and Compile
  shell: "{{ item }}"
  with_items:
    - 'curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin'
    - 'mv /usr/local/bin/composer.phar /usr/local/bin/composer'
  args:
    creates: /usr/local/bin/composer
  when: php_composer
  tags:
    - composer

- name: Composer | Set Permissions
  file:
    path: /usr/local/bin/composer
    mode: 0755
  when: php_composer
  tags:
    - composer

- name: PHPUnit | Download and Install
  shell: "{{ item }}"
  with_items:
    - 'wget https://phar.phpunit.de/phpunit.phar'
    - 'wget https://phar.phpunit.de/phpunit.phar.asc'
    - 'gpg --keyserver keyserver.ubuntu.com --recv-keys 0x4AA394086372C20A'
    - 'gpg phpunit.phar.asc'
    - 'mv phpunit.phar /usr/local/bin/phpunit'
    - 'rm phpunit.phar.asc'
  args:
    creates: /usr/local/bin/phpunit
  when: php_phpunit
  tags:
    - phpunit

- name: PHPUnit | Set Permissions
  file:
    path: /usr/local/bin/phpunit
    mode: 0755
  when: php_phpunit
  tags:
    - phpunit

- name: install phpDocumentor
  get_url: 
    url: https://phpdoc.org/phpDocumentor.phar
    dest: /usr/local/bin/phpDocumentor
    mode: 0755
    validate_certs: "{{ php_documentor_validate_certs }}"
  when: php_documentor
  tags:
    - phpDocumentor

- name: Sodium | Install php5-dev | apt
  apt:
    state: latest
    pkg: php5-dev
  when: php_sodium
  tags:
    - software-installation
    - using-apt
    - sodium

- name: Sodium | Git
  git:
    repo: https://github.com/jedisct1/libsodium
    dest: /tmp/libsodium/
  when: php_sodium
  tags:
    - sodium

- name: "Sodium | Update, compile and configure"
  sudo: yes
  shell: "{{ item }}"
  with_items:
    - 'cd /tmp/libsodium/ && ./autogen.sh'
    - 'cd /tmp/libsodium/ && ./configure'
    - 'cd /tmp/libsodium/ && make && make check'
    - 'cd /tmp/libsodium/ && make install'
    - 'echo "extension=libsodium.so" >> /etc/php5/mods-available/libsodium.ini'
    - 'php5enmod libsodium'
  when: php_sodium
  tags:
    - sodium

- name: Sodium | Install PHP extention
  sudo: yes
  ignore_errors: yes
  shell: pecl install channel://pecl.php.net/libsodium-1.0.2
  notify:
    - Reload Service | nginx
    - Reload Service | php5-fpm
  when: php_sodium
  tags:
    - sodium
